/* Home.module.css */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  color: #342b08; /* Màu văn bản */
  background-color: #f4f4f4; /* Màu nền */
}

.banner {
  margin-bottom: 25px; /* Khoảng cách giữa banner và danh sách sản phẩm */
}
