.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #e99331;
}

.navLinks {
  list-style: none;
  margin: 0;
  padding: 5px;
  display: flex;
}

.navLinks li {
  margin-right: 40px;
}

.navLink {
  color: #e99331;
  text-decoration: none;
}
.navLink {
  border: 1px solid #e99331; /* Đổi màu và độ dày khung viền tại đây */
  padding: 8px 12px; /* Điều chỉnh khoảng cách giữa nội dung và khung viền */
  margin: 0 5px; /* Điều chỉnh khoảng cách giữa các liên kết */
  border-radius: 5px; /* Làm tròn góc của khung viền */
  color: #cfcdbd; /* Đổi màu chữ tại đây */
}

.navLink:hover {
  background-color: #0081a7; /* Tạo hiệu ứng nền khi rê chuột vào liên kết */
}
