.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-image: url('logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

.navLinks ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin-left: 20px; /* Tăng khoảng cách giữa các mục danh sách */
}

.navLink {
  text-decoration: none;
  color: #adb723;
  padding: 10px 20px; /* Tăng khoảng cách giữa các mục danh sách */
  border-radius: 20px; /* Làm tròn các góc */
  font-size: 16px; /* Giảm kích thước chữ */
  transition: background-color 0.3s, color 0.3s; /* Tạo hiệu ứng chuyển đổi màu nền và màu chữ */
}

.navLink:hover {
  background-color: #ffc107; /* Màu nền khi hover */
  color: #ececec; /* Màu chữ khi hover */
}

.navLink:active {
  background-color: #ff9800; /* Màu nền khi active */
  color: #fff; /* Màu chữ khi active */
}
