.container {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  height: 50px; /* Chiều cao mẫu */
  background-color: #ca4a17; /* Màu nền mẫu */
}

.content {
  color: white; /* Màu văn bản mẫu */
}
