* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none !important;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  padding: 12px 24px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
